<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
      <div class="container">
        <div class="wrap-menu-dash">
          <div
            class="head-menu p-2 d-flex justify-content-between align-items-center"
          >
            <h3>Kelola Data</h3>
            <button class="btn btn-sm btn-success p-2">
              Tambah Data Pengguna
            </button>
          </div>
          <div class="menu-dash d-flex flex-wrap gap-3 p-3 mb-3">
            <div>
              <a href="#dashpeople" id="linkPeople" class="dash-link p-1 active"
                >List Data Pengguna</a
              >
            </div>
            <div>
              <a href="#dashrole" id="linkRole" class="dash-link p-1"
                >List Data Role</a
              >
            </div>
          </div>
        </div>

        <div class="dash-content my-4">
          <div id="user">
            <table
              id="tablePeople"
              class="table table-bordered table-striped table-hover"
            >
              <thead>
                <tr class="table-dark">
                  <th class="col-1 text-center">No</th>
                  <th class="col-2 text-center">Nama</th>
                  <th class="col-2 text-center">Email</th>
                  <th class="col-1 text-center">Pekerjaan</th>
                  <th class="col-2 text-center">Alamat</th>
                  <th class="col-1 text-center">Role</th>
                  <th class="col-3 text-center">Action</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="hiding" id="role">
            <table
              id="tableRole"
              class="table table-bordered table-striped table-hover"
            >
              <thead>
                <tr class="table-dark">
                  <th class="col-1 text-center">No</th>
                  <th class="col-5 text-center">Nama Role</th>
                  <th class="col-6 text-center">Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <!-- Modal Detail People -->
      <div
        class="modal fade"
        id="detailPeopleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail Pengguna
              </h1>
            </div>
            <div class="modal-body">
              <div class="my-3">
                <table class="table table-bordered table-warning">
                  <tbody>
                    <tr>
                      <th class="col-4 table-info">ID Pengguna</th>
                      <td class="col-8" id="userId"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">NIK</th>
                      <td class="col-8" id="userNik"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Nama Lengkap</th>
                      <td class="col-8" id="userName"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Email</th>
                      <td class="col-8" id="userEmail"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Telepon</th>
                      <td class="col-8" id="userPhone"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Pekerjaan</th>
                      <td class="col-8" id="userJob"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Alamat</th>
                      <td class="col-8" id="userAddress"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Username Akun</th>
                      <td class="col-8" id="usernameAcc"></td>
                    </tr>
                    <tr>
                      <th class="col-4 table-info">Role</th>
                      <td class="col-8" id="userRole"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div layout:fragment="js">
      <script th:src="@{/js/dashAdmin.js}"></script>
    </div>
  </body>
</html>
