<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main.html}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <body>
    <!-- content -->
    <section class="container-fluid p-3 wrapper" layout:fragment="content">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                <a th:href="@{/u-dashboard}" class="btn btn-warning">Kembali</a>
                <h1>Buat Laporan</h1>
            </div>
            <div class="p-3">
                <form>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-2">
                            <span class="input-group-text fw-bold bg-dark-subtle border border-dark-subtle" id="c-id">Masukan Id Anda</span> 
                        </div> 
                        <div class="col-md-10">
                            <input
                                type="text"
                                aria-label="Sizing example input"
                                aria-describedby="c-id" 
                                id="people-complaint" 
                                class="form-control border border-dark-subtle" 
                                required 
                            />
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-2">
                            <span class="input-group-text fw-bold bg-dark-subtle border border-dark-subtle" id="c-date">Tanggal</span> 
                        </div> 
                        <div class="col-md-10">
                            <input
                                type="text"
                                aria-label="Sizing example input"
                                aria-describedby="c-date" 
                                id="date-complaint" 
                                class="form-control border border-dark-subtle" 
                                required 
                            />
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-2">
                            <span class="input-group-text fw-bold bg-dark-subtle border border-dark-subtle" id="kategori">Pilih Kategori</span>
                        </div>
                        <div class="col-md-10">
                            <select 
                                class="form-select"
                                aria-label="Default select example"
                                aria-describedby="kategori" 
                                id="kategori-complaint"
                                required
                            >
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-2">
                            <span class="input-group-text fw-bold bg-dark-subtle border border-dark-subtle" id="title">Judul Pengaduan</span>
                        </div>
                        <div class="col-md-10">
                            <input
                                type="text"
                                aria-label="Sizing example input"
                                aria-describedby="title" 
                                id="title-complaint" 
                                class="form-control border border-dark-subtle" 
                                required 
                            />
                        </div>
                    </div>
                    <div class="mt-2 mb-4">
                        <textarea 
                            class="form-control border border-dark-subtle" 
                            rows="4" 
                            id="laporan" 
                            placeholder="Tulis Laporan">
                        </textarea>
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-10 d-flex justify-content-between align-items-center flex-wrap gap-3">
                            <input
                                type="text"
                                aria-label="Sizing example input"
                                aria-describedby="bukti" 
                                id="bukti-complaint" 
                                class="form-control border border-dark-subtle"
                                placeholder="cantumkan bukti berupa link google drive.." 
                                required 
                            />
                            <button id="create-complaint" type="submit" class="btn btn-success">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div layout:fragment="js">
        <script th:src="@{/js/users/complaint.js}"></script>
      </div>
  </body>
</html>
