* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #45474b;
  --prim: #495e57;
  --second: #f4ce14;
  --white: #f5f7f8;
  --green: #379237;
  --red: #e21818;
}

.hiding {
  display: none;
}

.wrap-body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, var(--white) 25%, var(--second) 150%);
  color: var(--black);
  min-height: 100vh;
  padding-bottom: 430px;
  position: relative;
  overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: var(--black);
}
.nav-item {
  margin: 0 5px;
  text-align: center;
}
.wrap-acc {
  display: flex;
  justify-content: center;
}
.active {
  border-radius: 5px !important;
  border-bottom: 1px solid var(--second) !important;
}
.nav-link:hover {
  border-radius: 5px;
  border-bottom: 1px solid var(--second) !important;
}
.nav-link {
  color: var(--white) !important;
  font-weight: bold;
  font-size: 1.2rem;
}

/* dashboard admin */
.menu-dash {
  background-color: var(--black);
  border-radius: 5px;
}
.dash-link {
  text-decoration: none;
  color: var(--white);
}
.dash-link:hover {
  color: var(--second);
}
.dataTables_wrapper input {
  width: 300px;
  margin-bottom: 20px;
}
.dataTables_wrapper input[type="search"] {
  background-color: var(--white);
}
.dataTables_wrapper input[type="search"]:focus {
  background-color: var(--black);
  color: var(--second);
}
/* @media screen and (min-width: 1400px) {
  .dataTables_scrollHead {
    margin-left: 51px !important;
  }
} */

/* category */
.wrap-category {
  padding: 15px 0;
}
.accordion-button {
  background-color: var(--second) !important;
}

/* footer */
.footBar {
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-link,
.footer-tag {
  color: var(--second);
}
