<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
  </head>
  <body>
    <!-- Footer -->
    <footer class="pt-4 mt-5 footBar" th:fragment="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 class="fw-bold">Contact Us</h5>
            <p>Email: info@example.com</p>
            <p>Phone: +1 (123) 456-7890</p>
          </div>
          <div class="col-md-6 text-right">
            <h5 class="fw-bold">Follow Us</h5>
            <a href="#" class="footer-link">Facebook</a>
            <span class="mx-2">|</span>
            <a href="#" class="footer-link">Twitter</a>
            <span class="mx-2">|</span>
            <a href="#" class="footer-link">Instagram</a>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="mt-5 text-center">
          SIBKM Fullstack Metrodata - Kelompok 2 © 2023
          <a
            href="https://github.com/SIBKM-05-Java/S4-Kelompok_02"
            target="_blank"
            class="footer-tag"
            >LaporYuk</a
          >. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
